/* Global */
.vheight-100 {
    min-height: 100vh;
}

.below-nav {
    padding-top: 4rem;
}

/* SideBar */
#left-sidebar {
    overflow-y: scroll;
}

.list-title {
    font-size: large;
}

/* Showroom */

.car-card {
    width: 17.3rem;
}

/* Interactive Configuration */

#checkbox-row{
    margin-top: 10px;
}

.form-check{
    margin-right: 10px;
}

/* User Dashboard */

tr.active{
    background-color: #ececec;
}
